*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background: url(coffe.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:20px;
}
header .navbar{
    display:flex;
    align-items: center;
    max-width:1200px;
    margin: 0 auto;
    justify-content: space-between;

}

#menu-icon{
    font-size: 3.6rem;
    display:none;
    color:white;
}
.search{color:white;
font-size:25px};
.search li {
    padding : 5px 20px;
}

.logo{
    font-size:x-large;
    
    font-family: 'Times New Roman', Times, serif;
    color:white;
    
} span{
    color:rgb(134, 70, 10);
}
.navbar{  backdrop-filter: blur(8px);
    background-color: rgba(0,0,0,0.6 );
    border:1px solid rgba(24,24,24,0.3);
    border-radius: 3rem; }
.navbar .menu-links{
    display:flex;
    gap:40px;
    font-style:italic;
    list-style: none;
}
 .navbar li a{
    color:white;
    text-decoration: none;
    transition: 0.2s ease;
}
.navbar li a:hover{
    color:rgb(65, 22, 5);
    background-color: blanchedalmond;
}
 .section{
    height:100vh;
    display:flex;
    align-items:center;
    padding :0 20px;
}
.section .content {
    color:white;
    margin:0 auto;
    width:100%;
    max-width: 1200px;
}
    .section .content h1 {
        font-size: 2rem;
        max-width: 600px;
        color: white;
        }
        .section .content p{
            font-weight: 200;
            margin-top:15px;
            max-width: 600px;
        }
        .order{
            background-color: white;
            color:black;
        width:90px;
        height:50px;
            font-size: larger;
        } .order:hover{
            background-color: rgb(65, 22, 5);
            color:white
        }
       
        @media screen and (max-width:900px){
            
            .navbar .menu-links{
                position: fixed;
                left:-260px;
                top:0;
                width:260px;
                height:100vh;
                background: white;
                padding:70px 40px 0;
            }
            .navbar a{
                color:black;
            }

        }
        .about-content { text-align: center;
            backdrop-filter: blur(8px);
            background-color: rgba(0,0,0,0.6
            );
            border:1px solid rgba(24,24,24,0.3);
            border-radius: 2rem; 
            padding:3rem;
            color:white;
          
        } 
        
        .about{
            display:flex;
            align-items: center;
            justify-content: center;
            background:url(coffe-real2.webp);
            min-height: 100vh;

        }
        
        
        .heading{
            font-size: 8rem;
            text-align: center;
            color:beige
        }
        .btn{ background-color: rgb(65, 22, 5);
            
            color:white;
        width:90px;
        height:50px;} 

        .btn:hover{
            background-color:rgb(155, 90, 15);
            color:white
        }
        .about-content h2{
            font-size:xx-large;
        }
        
            .reviews{
                background-color:black;
            }.reviews h2{
                margin-bottom: 10rem;
                color:rgb(134, 70, 10) ;

            }
            .review-container{
                display:grid;
                grid-template-columns: repeat(4,1fr);
                margin-top: 8rem;
                gap:2rem;
            }.review-container .review-box{
                display:flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                height: 500px;
                padding:3rem 2rem 4rem;
                border-radius: 2rem;
                text-align: center;
                border:0.2rem solid rgb(134, 70, 10);
                cursor:pointer;
                transition: 0.4s ease;
                color:white;

            }
            .review-container .review-box:hover{
                background-color: azure;
                color:black;
                border-color: rgb(134, 70, 10);

            }
            .review-box i{
                font-size: 7rem;
                color:rgb(134, 70, 10);
            }
            
            
            .contact{background-color:black; }
            
            .contact h2{margin-bottom: 2rem; color:rgb(134, 70, 10) ; font-size:xx-large;}

            .contact form{max-width:70rem;
            margin:1rem auto;
        text-align: center;
    margin-bottom: 3rem;}
    .contact  form.input-box{
        display:flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .contact form .input-box input,.contact form textarea{
        width:100%;
        padding:1rem;
        font-size: 1.6rem;
        color:white;
        background-color:black ;
        border-radius: 1rem;
        border:2px solid rgb(65, 22, 5);
        margin:1rem;

    }

    
       
    .btnn{
        background-color: rgb(65, 22, 5);
    
            color:white;
        width:90px;
        height:50px;

    }
.footer{
    position:relative;
    bottom: 0;
    width:100%;
    padding:40px 0;
    background-color:rgb(155, 90, 15);

}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color:white;
}
.footer .social a{
    font-size:25px;
    color:rgb(7, 7, 7);
    border:2px solid white;
    width: 42px;
    height:42px;
    line-height: 42px;
    text-align: center;
    display:inline-block;
    border-radius: 50%;
    margin:0 10px;
}
.footer .social a:hover{
    background-color: white;
    color:rgb(134, 70, 10);}
    .footer ul{
        margin-top: 0;
        padding:0;
        font-size: 18px;
        line-height: 1.6;
    text-align:center;
    }
    .footer ul li a {
        color:white;
        border-bottom: 3px solid transparent;
    }
    .footer ul li a:hover{
border-bottom: 3px solid white;;
    }
.footer ul li {
    display:inline-block;
    padding:0 15px;
}
 .footer h2{
    margin-top: 50px;
    text-align: center;
    font-size:16px;
    color:white;
}


.menu{
    background:url(coffe-real2.webp);
    display:flex;
            align-items: center;
            justify-content: center;
            width:100%;
            padding:20px;
}
h1{text-align: center;
color:black}
h2{text-align: center;
    color:black}
.item{
background-color:rgba(247, 184, 126, 0.836);

} 
.item p{display:inline-block;
    margin:5px 0;
    font-size: 18px;

}
hr{
    height:2px;
    border-color: rgb(100, 79, 11);
} .price{
    width:50%;
    text-align: right;
}.flavor , .dessert{
    width:50%;
    text-align: left;
}


.n{color: white;}


